div(role="navigation").navbar.navbar-fixed-top.navbar-inverse
  .container.container-fluid
    .navbar-header
      button(type="button" data-toggle="collapse" data-target="#nav-menu").navbar-toggle
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="/images").navbar-brand Flicrk Crawler
    #nav-menu.navbar-collpase
      ul.nav.navbar-nav
        li
          a(href='images') Images
        li
          a(href='viewTags') Tags
        li
          a(href='heatmap') HeatMap
        li
          a(href='map') Map