header
body
  include includes/navbar.jade

  .content
    #map

link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
link(rel="stylesheet" href="style.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
script(src="/javascript/lib/jquery.awesomeCloud-0.2.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh2eITWmJ9Oz8h0krb9iiwoeG5sW7JwWs")
script(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js")
script(src='javascript/lib/lodash.js')
script(src='javascript/map.js')